/* Estilos Globales */

/* Colores */
/* Textos y fuentes */
/* Márgenes y Bordes */

:root {

    --color-primary: #1a2456;
    --color-secondary: #efc2b3;


    --color-white: #ffffff;
    --color-gray: #6c757d;
    --color-gray-dark: #343a40;

    --color-blue: #1a2456;
    --color-indigo: #1a2456;

    /* Escala de Rosas */
    --color-rosa: #ff8d6b;
    ---color-orange: #ff8d6b;


    --font-sans: 'Prompt', sans-serif;
    --font-mono: SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;

    /* márgenes */
    --padding-seccion: 15%;

}

body {
    background-color: #f0efed;
    color: var(--color-primary);
    font-family: var(--font-sans);
    font-size: var(--font-size-base);
    font-weight: 300;
    line-height: var(--line-height-base);
    text-align: left;

    min-height: 100vh;
    text-rendering: optimizeLegibility;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Heaeder */

.header {
    height: 80px;
    width: 100%;


    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    padding: 10px 20px;
}

.header-container {
    background-color: var(--color-indigo);
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-brand {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-left: 5px;
    align-items: center;
}

.menu {
    display: none;
    font-size: 26px;
    color: var(--color-secondary);
    cursor: pointer;
}

.brand {
    color: var(--color-secondary);
    font-size: large;
    font: 500;
}

.logo {
    height: 100%;
    width: auto;
}

.brand:hover {
    color: var(---color-orange);
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    gap: 20px;

    align-items: center;
}

.nav-item {
    padding: 0.75rem 10px;
    color: var(--color-secondary);
    border-radius: 6px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    cursor: pointer;
}

.nav-item:hover {
    color: var(---color-orange);
}

.currency-type {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    gap: 15px;
    align-items: center;
    padding-right: 30px;
}

.currency-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: var(--color-secondary);
    cursor: pointer;
    transition: background-image 0.3s ease;
}

.currency-item:hover {
    color: var(--color-gray)
}

.icon_usd {
    width: 12px;
    height: 12px;
    background-image: url("Imagenes/drop_arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;
}

/* Hover */

.currency-item:hover {
    color: var(--color-gray);
}

.currency-item:hover .icon_usd {
    background-image: url("Imagenes/drop_arrow_2.png");
}

@media (max-width: 1100px) {

    .nav-list .nav-item {
        display: none;
    }
    .menu {
        display: block;
    }
    .Compra_CambioMoneda {
        display: flex;
    }

}

/* FOOTER */
footer {
    height: 350px;
    width: auto;
    padding: 50px var(--padding-seccion);
    background-color: var(--color-indigo);
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.footer-section {
    height: auto;
    width: 18%;
    display: inline-flex;
    flex-direction: column
}

/* estilos */

.footer-section h1,
.footer-section h2,
.footer-section h3,
.footer-subscribe h1 {
    color: var(--color-secondary);
    padding-bottom: 20px;
    font-size: 14px;
    letter-spacing: 1px;
}

.footer-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 15px;
}


.footer-item {
    color: var(--color-secondary);
    border-radius: 6px;
    transition: background-color 0.3s ease;
    font-size: 14px;
    font-weight: 200;
    cursor: pointer;
}

.footer-item:hover {
    color: var(---color-orange);
    text-decoration: underline;

}

/* contenedor formulario de suscripción */

.footer-subscribe {
    height: auto;
    width: auto;
    flex-direction: column;
    justify-content: space-between;
}

.footer-subscribe>h1 {
    color: var(--color-secondary);
}

.footer-subscribe>h3 {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    color: var(--color-secondary);
    font-size: 13px;
}

.subscribe-form {
    height: 20%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    padding-right: 10px;
    padding: 10 0px;
}

/* input */

.email-input {
    height: 40px;
    background: transparent;
    border: 2px solid #d9c2c2;
    padding: 0px 16px;
    color: #fff;
    font-size: 14px;
    outline: none;
}

.email-input::placeholder {
    color: #aab0c0;
}

.submit-btn {
    height: 40px;
    background: var(--color-secondary);
    border: none;
    padding: 14px 40px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;

    display: flex;
    align-items: center;
    color: var(--color-gray);
}

.social-media-container {
    height: 15%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 25px 0;
}

.icon {
    width: 30px;
    height: 30px;
    background: var(--color-secondary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1d2656;
    text-decoration: none;
}

.icon svg {
    width: 22px;
    height: 22px;
    fill: currentColor;
}

@media (max-width: 900px) {

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "mono sus"
            "quick help"
            "info info";
        height: auto;
        gap: 20px;
    }
    
    /* lugares designados del footer */

    footer .footer-section:nth-child(1) {
        grid-area: mono;
    }

    footer .footer-section:nth-child(2) {
        grid-area: quick;
    }

    footer .footer-section:nth-child(3) {
        grid-area: help;
    }

    footer .footer-section:nth-child(4) {
        grid-area: info;
    }

    footer .footer-subscribe {
        grid-area: sus;
    }

}

/* Sección de bienvenida */

.welcome-section {
    position: relative;
    height: 800px;
    width: 100%;
    background-image: url("Imagenes/Mandos_VideoJuegos.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
}

/* Contenido */

.welcome-container {
    position: relative;
    text-align: center;
    color: #e6bfb4;
    z-index: 2;
}

.welcome-text h1 {
    font-size: 2.5rem;
    letter-spacing: 3px;
    margin-bottom: 1rem;
}

.welcome-text p {
    color: #ddd;
}

.arrow {
    position: absolute;
    bottom: 25px;
    z-index: 2;
}

.arrow-icon {
    display: inline-block;
    width: 60px;
    height: 60px;

    background-image: url("Imagenes/arrow_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.arrow-icon:hover {
    transform: scale(1.2);
}

/* /////////////////////////////////// */
/* Sección de productos cartas y sección*/

.products-section {
    padding: 60px var(--padding-seccion);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.pairs-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.triples-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.large-group {
    display: grid;
    grid-template-columns: 1fr;
}


@media (max-width: 900px) {
    .pairs-group {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1100px) {
    .triples-group {
        grid-template-columns: 2fr;
    }
}

@media (max-width: 900px) {
    .triples-group {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 900px) {
    .large-group {
        grid-template-columns: 1fr;
    }
}

.product-card {
    background: #f2f2f2;
    cursor: pointer;

    display: flex;
    flex-direction: column;
}

.card-image-container {
    position: relative;
    background: var(--color-gray);
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-position: center;
    overflow: hidden;
}


.card-image-container-lg {
    position: relative;
    background: var(--color-gray);
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-image: url(Imagenes/Producto1.png); */
    background-size: cover;
    background-position: center;
    overflow: hidden;
}


.card-image-container img,
.card-image-container-lg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.badge {
    position: absolute;
    top: 10px;
    right: 0px;
    background: var(---color-orange);
    color: black;
    font-size: 12px;
    padding: 5px 10px;
}

.card-title-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

/* animación del precio y botón */

.price-button-container {
    position: relative;
    display: inline-block;
}

.price {
    transition: opacity 0.3s ease;
    padding: 8px 16px;
}

.btn-hover {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;

    background: var(--color-primary);
    color: white;
    font-size: 12px;
    font-weight: 600;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;

    transition: opacity 0.3s ease;

    width: 100px;
    height: 30px;
}

.price-button-container:hover .price {
    opacity: 0;
}

.price-button-container:hover .btn-hover {
    opacity: 1;
    pointer-events: auto;
}

/* Estilos de las cartas */

.card-title-status h6 {
    color: var(--color-blue);
    font-size: medium;
    font-weight: lighter;
}

.card-title-status h5 {
    color: var(--color-blue);
    font-size: medium;
    font-weight: 500;
}

.card-title-status h4 {
    color: var(--color-primary);
    font-size: x-large;
    font-weight: bold;

    /* TODO colocar un espaciado mas grande entre las tipografías entre letras y palabras */

}

.card-description-container {
    padding: 15px 0;
    font-size: 14px;
}

/* Sección de anuncio */

.announcement-section {
    position: relative;
    height: 550px;
    width: 100%;
    background-image: url("Imagenes/anuncio.jpg");
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.announcement-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.322);
    display: flex;
}

/* Contenido */

.announcement-content {
    position: relative;
    text-align: center;
    color: var(--color-primary);
    z-index: 2;
}

.announcement-content h1 {
    font-size: 2.5rem;
    letter-spacing: 3px;
    margin-bottom: 1rem;
}

.announcement-content p {
    color: var(--color-indigo);
}